.Header-container {
  background-color: #82bcb9;
  width: 100%;
  height: 150px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Header-name {
  font-size: 40px;
  font-family: 'Quicksand', sans-serif;
}
